/* wire frame TODO: delete later*/
header,
main,
footer {
    border: 1px solid navy;
    margin: 5px;
}


/* reset */
body {
    margin: 0;
    padding: 0;
}

/* element selectors */
body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}

header {
    background: url(../images/header\ background.jpeg);
    background-position-y: 0;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

header,
main,
footer {
    padding: 1.5rem;
}

main {
    flex-grow: 1;

}



/* classes */
.crop {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;


}

.headerpic {
    display: inline;
    margin: 0 auto;
    margin-left: -33px;
    margin-top: -40px;
    height: 220%;
    width: auto;
}

.mt- {
    margin-top: 0.75rem;
}

.mt {
    margin-top: 1.5rem;
}

.ml25 {
    margin-left: 25%
}



/* flex */
.f-column {
    flex-direction: column;
}

.f-row {
    flex-direction: row;
}

.d-f {
    display: flex;
}

.j-cen {
    justify-content: center;
}

.j-bet {
    justify-content: space-between;
}

.j-sp {
    justify-content: space-around;
}


.a-cen {
    align-items: center;
}